altgraph==0.17.4
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
idna==3.7
linkify-it-py==2.0.3
macholib==1.16.3
markdown-it-py==3.0.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
packaging==24.1
pycparser==2.22
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyOpenSSL==24.2.1
requests==2.32.3
rich==13.7.1
textual==0.76.0
tui==1.1.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.2.2